.fuenteblanca, main ul li, h2, h1, header nav {
  font-family: "Press Start 2P", cursive;
  color: white;
}

header {
  background-color: #282A3A;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header img {
  height: 110px;
  width: 100%;
}
header nav {
  background: #282A3A;
  background: radial-gradient(circle, rgb(40, 42, 58) 67%, rgb(7, 7, 8) 99%);
  font-size: 1.2rem;
  padding: 1px;
}
header nav img {
  height: 70px;
  width: 70px;
}
header nav ul li {
  list-style: none;
  font-weight: bold;
  display: inline-block;
  margin: 0px 55px;
  margin-top: auto;
  margin-bottom: auto;
}

.alcentro {
  text-align: center;
}

body {
  background-image: url("../img/background.jpg");
}

ul li a {
  color: #735F32;
  text-decoration: none;
}

h1 {
  background-color: #282A3A;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  background-color: #282A3A;
  margin-top: 1rem;
}

iframe {
  height: 500px;
  width: 800px;
}

footer {
  width: 100%;
  background-color: #282A3A;
  text-align: center;
  padding: 5px;
}
footer ul li {
  font-size: 1.5rem;
  list-style: none;
  font-weight: bold;
  display: inline-block;
  margin: 0px 30px;
}

.bi-facebook:hover {
  color: #1b74e4;
}

.bi-instagram:hover {
  color: #dd4368;
}

.bi-twitter:hover {
  color: #1c96e8;
}

.bi-youtube:hover {
  color: #ff0000;
}

.cap-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  row-gap: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-items: center;
}
.cap-container img {
  height: 400px;
  width: 700px;
  border-radius: 5px;
}

.article-inicio {
  margin: 180px;
  margin-top: 0px;
  padding: 20px;
}
.article-inicio img {
  float: left;
  padding: 16px;
}
.article-inicio p {
  background-color: rgba(40, 42, 58, 0.8980392157);
  color: #735F32;
  font-size: 1.5rem;
  padding: 20px;
}

.imganual {
  height: 300px;
  width: 500px;
}

.form-container {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.form-fieldset {
  background-color: hwb(233 16% 77%/0.753);
  font-size: 1, 3rem;
  color: antiquewhite;
}

form legend {
  background-color: rgba(40, 42, 58, 0.6039215686);
}

iframe {
  animation: ease-in animacion 1s;
}

@keyframes animacion {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 768px) {
  header img {
    height: 95px;
  }
  header img nav {
    padding: 0px;
    font-size: 1rem;
  }
  header img nav ul {
    flex-direction: column;
  }
  iframe {
    height: 410px;
    width: 660px;
  }
  .article-inicio {
    flex-direction: column;
  }
  article img {
    height: 468px;
    width: 340px;
    position: relative;
    margin-bottom: 20px;
  }
  .cap-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, 1fr);
  }
  .cap-container img {
    height: 410px;
    width: 660px;
  }
  .imganual {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .article-inicio {
    margin: 0px;
  }
}
@media only screen and (max-width: 576px) {
  iframe {
    height: 310px;
    width: 500px;
  }
  .cap-container img {
    height: 310px;
    width: 500px;
  }
  article img {
    height: 360px;
    width: 250px;
  }
  .imganual {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=style.css.map */
